<%= content_for(:title, '気になるリスト')%>
<div class="interest_field">
  <h2 class="interest_title my-3 ml-3">
  気になるリスト
  </h2>
  <% if @interest_resort.present? %>
    <div class="col-8 table-responsive" style="margin: auto;">
      <table class="table table-bordered table-striped" style="white-space: nowrap;">
        <thead>
          <tr class="table-primary">
            <th>ゲレンデ画像</th>
            <th>ゲレンデ名</th>
            <th>住所</th>
            <th>電話番号</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <% @interest_resort.each do |interest_resort| %>
            <tr>
              <td>
              <% if interest_resort.resort_image.attached? %>
                <%= link_to image_tag(interest_resort.resort_image.variant(resize:'300x300'), alt: 'ゲレンデ画像', class:"img-fluid"), ski_resort_path(interest_resort) %>
              <% else %>
                <%= link_to image_tag(asset_path('no_image.jpeg'), alt: 'ゲレンデ画像', :size => '300x300', class:"img-fluid"), ski_resort_path(interest_resort) %>
              <% end %>
              </td>
              <td><%= interest_resort.resort_name %></td>
              <td><%= interest_resort.address %></td>
              <td><%= link_to "#{interest_resort.phone_number}", "tel:" + interest_resort.phone_number %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <h5 class="text-center mt-5">
      気になるリストにまだスキー場はありません。
    </h5>
  <% end %>
  <div class="text-center mt-3 mb-3">
    <%= link_to "トップページに戻る", root_path, class:"root_btn" %>
  </div>
</div>