<%= content_for(:title, 'いいね一覧')%>
<div class="like_field">
  <h2 class="like_title my-3 ml-3">
  いいね一覧
  </h2>
  <% if @like_resort.present? %>
    <div class="col-md-8 table-responsive" style="margin: auto;">
      <table class="table table-bordered table-hover" style="color: #666666; white-space: nowrap;">
        <thead>
          <tr class="table-primary text-center">
            <th>ゲレンデ画像</th>
            <th>ゲレンデ名</th>
            <th >住所</th>
            <th>電話番号</th>
            <th>詳細</th>
          </tr>
        </thead>

        <tbody>
          <% @like_resort.each do |like_resort| %>
            <tr class="text-center">
              <td>
                <% if like_resort.resort_image.attached? %>
                  <%= image_tag like_resort.resort_image.variant(resize:'300x300'), alt: 'ゲレンデ画像', class:"img-fluid" %>
                <% else %>
                  <%= image_tag asset_path('no_image.jpeg'), alt: 'ゲレンデ画像', :size => '300x300', class:"img-fluid" %>
                <% end %>
              </td>
              <td><%= like_resort.resort_name %></td>
              <td><%= like_resort.address %></td>
              <td><%= link_to "#{like_resort.phone_number}", "tel:" + like_resort.phone_number %></td>
              <td><%= link_to "詳細", ski_resort_path(like_resort) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @like_resort %>
    </div>
  <% else %>
    <h5 class="text-center mt-5">
      気になるリストにまだスキー場はありません。
    </h5>
  <% end %>
  <div class="text-center mt-3 mb-3">
    <%= link_to "トップページに戻る", root_path, class:"root_btn" %>
  </div>
</div>