<div class="review_show_box mt-4">
  <div class="text-center mb-3">
    <h3 class="review_title">
      レビュー一覧
    </h3>
  </div>
    <% if reviews.present? %>
      <% reviews.each do |review| %>
        <div class="row posts">
          <div class="col-md-2 posts-user">
            <%= image_tag review.user.image.url ,width: '100px' %>
            <p class="posts-title"><%= review.user.name %></p>
          </div>
          <div class="col-md-6 mb-3">
            <div class=" posts-content">
              <p>投稿日：<%= review.created_at.to_s(:datetime_jp) %></p>
              <p class="mb-3">評価：<%= review.rate %>点 | <%= link_to "#{review.title}", ski_resort_review_path(review.ski_resort_id, review.id) %></p>
            </div>
            <div id="star-rate-<%= review.id %>"></div>
          </div>
         <script>
         $('#star-rate-<%= review.id %>').raty({
           size: 36,
           starOff: '<%= asset_path('star-off.png') %>',
           starOn : '<%= asset_path('star-on.png') %>',
           starHalf: '<%= asset_path('star-half.png') %>',
           half: true,
           readOnly: true,
           score: <%= review.rate %>,
         });
         </script>
       </div>  
     <% end %>
   <% end %>
</div>