<% content_for(:title, @ski_resort.resort_name) %>
<div class="ski_resort_show_field">
  <h3 class="ski_resort_title">
    <i class="fa-solid fa-mountain"></i>
    <%= @ski_resort.resort_name %>
  </h3>
  <div class="ski_resort_show_main">
    <% if user_signed_in? %>
      <div class="like_btn_field">
        <% if @ski_resort.liked?(current_user) %>
          <%= link_to ski_resort_like_path(@ski_resort.id), method: :delete do %>
            <span class="fa-solid fa-heart fa-2x", id="like-btn" style="color: #e60033;"></span>
          <% end %>
        <% else %>
          <%= link_to ski_resort_likes_path(@ski_resort.id), method: :post do %>
            <span class="fa-solid fa-heart fa-2x", id="not-like-btn" style="color: #7d7d7d;"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <p class="text-center title_color">
      <strong>平均評価：<%= @ski_resort.reviews.average(:rate) %>点</strong> | 
      <span id="star-average-<%= @ski_resort.id %>"></span>
    </p>
    <script>
      $('#star-average-<%= @ski_resort.id %>').raty({
        starOff: '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @ski_resort.reviews.average(:rate) %>,
      });
    </script>
    <div class="text-center">
      <% if @ski_resort.resort_image.attached? %>
        <%= image_tag @ski_resort.resort_image, alt: 'ゲレンデ画像', :size => '600x600', class: "img-fluid" %>
      <% else %>
        <%= image_tag asset_path('no_image.jpeg'), alt: 'ゲレンデ画像', :size => '300x300', class: "img-fluid" %>
      <% end %>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-sharp fa-solid fa-location-dot"></i>
          <strong>住所</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <%= @ski_resort.address %>
        </div>
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-mobile"></i>
          <strong>電話番号</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <%= link_to @ski_resort.phone_number, "tel:" + @ski_resort.phone_number %>
        </div>
      </div> 
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-calendar-days"></i>
          <strong>営業期間</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <% if @ski_resort.start_day? || @ski_resort.end_day? %>
            <%= @ski_resort.start_day.to_s(:date_jp) %>〜<%= @ski_resort.end_day.to_s(:date_jp) %>
          <% else %>
            詳細分かり次第記載します
          <% end %>
        </div>       
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-clock"></i>
          <strong>営業時間</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <% if @ski_resort.start_time? || @ski_resort.end_time? %>
            <%= @ski_resort.start_time.to_s(:time_jp) %>〜<%= @ski_resort.end_time.to_s(:time_jp) %>
          <% else %>
            詳細分かり次第記載します
          <% end %>
        </div>    
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-circle-info"></i>
          <strong>営業備考</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <% if @ski_resort.business_remarks? %>
            <%= @ski_resort.business_remarks %>
          <% else %>
            -
          <% end %>
        </div>
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-yen-sign"></i>
          <strong>料金(1日券)</strong>
        </div>
        <ul class="list-unstyled col-md-6 sentence_color">
          <li class="mb-1">おとな：<%= @ski_resort.adult_price %></li>
          <li class="mb-1">こども：<%= @ski_resort.kid_price %></li>
          <li>シニア：<%= @ski_resort.senior_price %></li>
        </ul>
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-person-snowboarding"></i>
          <strong>リフト数</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <%= @ski_resort.ski_lift %>台
        </div>
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-road"></i>
          <strong>コース数</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <%= @ski_resort.courses %>本
        </div>
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-angle-up"></i>
          <strong>最大傾斜</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <%= @ski_resort.maximum_tilt %>度
        </div>
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-sm-3 title_color">
          <i class="fa-solid fa-mountain-sun"></i>
          <strong>最大滑走距離</strong>
        </div>
        <div class="col-sm-6 sentence_color">
          <%= @ski_resort.maximum_distance.to_s(:delimited) %>m
        </div>
      </div>
      <div class="row justify-content-end mb-4">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-snowman"></i>
          <strong>特徴</strong><br>
        </div>
        <div class="col-md-6 sentence_color">
          <%= safe_join(@ski_resort.resort_feature.split("\n"), tag(:br)) %>
        </div>
      </div>      
      <div class="row justify-content-end">
        <div class="col-md-3 title_color">
          <i class="fa-solid fa-hand-point-up"></i>
          <strong>ここがおすすめ</strong>
        </div>
        <div class="col-md-6 sentence_color">
          <%= safe_join(@ski_resort.introduction.split("\n"), tag(:br)) %>
        </div>
      </div>
    </div>
    <div class="mt-5 mb-5 text-center">
      <%= link_to"ホームページはこちら！", @ski_resort.hp_url, target: :_blank, rel: "noopener noreferrer", class: "resort_hp_btn" %>
    </div>
  </div>
    
  <h3 class="ski_resort_title mt-4">
    <i class="fa-solid fa-map"></i>
    マップ
  </h3>
  <div class= "ski_resort_map">
    <div class="gmap_wrapper">
      <div id="map"></div>
    </div>
  </div>
  <script>
    function initMap(){
      let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @ski_resort.latitude %>, lng: <%= @ski_resort.longitude %> },
      zoom: 12
      });
      marker = new google.maps.Marker({
      position:  {lat: <%= @ski_resort.latitude %>, lng: <%= @ski_resort.longitude %> },
      map: map
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  <%= render "ski_resorts/ski_resort_reviews_index", reviews: @reviews %>
  <div class="review_btn_box text-center">
    <%= link_to"レビュー投稿はこちら", new_ski_resort_review_path(@ski_resort), class: "comment_btn" %>
  </div>
  <div class="text-center mt-5 mb-3">
    <%= link_to "初心者Q&Aはこちら!", page_path('question'), class: "btn btn-info rounded-pill" %>
  </div>
  <div class="text-center">
    <%= link_to "トップページ", root_path, class:"root_btn" %> 
  </div>
  <% if user_signed_in? && current_user.admin == true %>
    <div class="text-center mt-4">
      <%= link_to "スキー場一覧", ski_resorts_path, class:"resort_index_btn" %> 
    </div>
  <% end %> 
</div>